<div class="jumbotron">
  <h1 class="display-6">LoveHateWant</h1>
  <p class="lead">--------------------- SUMMARY -------------------- </p>
  <hr class="my-4">
  <ul>
    <li>
      <a href="/configure">Configure Tab</a> - To configure when to run the ETL process.
    </li>
    <li>
      <a href="/dashboard">Dashboard</a> - A over all view of data for quick summary.
    </li>
    <li>
      <a href="/details">Details</a> - A page to view in depth details for a version.
    </li>
    <li>
      <a href="/demo">Demo</a> - A page to add a review and run it through the pipeline.
    </li>
  </ul>
</div>