// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chart--container {
  height: 80%;
  width: 100%;
  min-height: 80px;
}

.zc-ref {
  display: none;
}